<div class="registration-wrapper">
  <div class="row">
    <div class="col-sm-6">
      <div class="form-box">
         <%= link_to root_path, class: "navbar-wagon-brand" do %>
          <%= image_tag "logo-deskt.png", height: 24 %>
        <% end %>
        <div class="row">
          <div class=" col-sm-12 col-md-8 col-md-offset-2">
            <div class="form-title">
              <%= link_to url_for(:back) , class: "login-back" do %>
                <%= image_tag "back-arrow.svg", height: 20 %>  
              <% end %>
              <h2>Sign up with email</h2>
            </div>
            
            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.error_notification %>
            <div class="checkbox-errors">
              <%if params[:commit] && params[:agreement].blank? %>
                <ul>
                  <li>
                      <span class="checkbox-error-msg"><%= "terms and conditions must be accepted" %></span>
                  </li>
                </ul>
              <% end %>
                     
                    
            </div>
             <div class="row">
                <div class="col-sm-12">
                  <div class="form-inputs input user-icon">
                    <%= f.input :first_name,
                            required: true,
                            autofocus: true, label: false, placeholder: "First name"%>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-inputs input user-icon">
                    <%= f.input :last_name,
                            required: true,
                            autofocus: true, label: false, placeholder: "Last name"%>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-inputs input envelope-icon">
                    <%= f.input :email,
                            required: true,
                            autofocus: true ,
                            input_html: { autocomplete: "email" }, label: false, placeholder: "Email"%>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-inputs input padlock-icon">
                    <%= f.input :password,
                            required: true,
                            hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                            input_html: { autocomplete: "new-password" }, label: false, placeholder: "Password" %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-inputs input padlock-icon">
                    <%= f.input :password_confirmation,
                            required: true,
                            input_html: { autocomplete: "new-password" }, label: false, placeholder: "Confirm password" %>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="agreements-section">
                    <%= f.input :agreement, as: :boolean, label: "I agree with the privacy policy",  class: ' form-control checkbox checkbox-text' %>


                  <%= f.input :newsletter, as: :boolean, checked_value: true, unchecked_value: false, label: "I would like to receive the myGroupage newsletter and special offers", class: ' form-control checkbox' %>
                  <p class="terms-of-service">
                    By signing up you agree, to our <span class="color-torquoise">Terms of Service.</span>
                  </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-actions">
                    <%= f.button :submit, "Sign up" , class: "btn-sign-up"%>
                  </div>
                </div>
              </div>
            <% end %>
            <div class="row">
            <div class="col-xs-12">
              <div class="log-in-link-section">
                <p>Alreaady have a myGroupage account?<%= render "devise/shared/links" %>
                </p>
               
              </div>
            </div>
          </div>
          </div>
        </div>
     <!--    <hr>
        <div class="rights-reserved">  
            <p>© mygroupage 2018 -  All rights reserved</p>
            <p>Terms of service  ·  Privacy Policy</p>
        </div> -->
      </div>
    </div>
        
    <div class="col-sm-6 hidden-xs"> 
      <div class="card-registration-form" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(<%= asset_path 'men.jpeg' %>);">
      </div>
    </div>
  </div>
</div>








