<div class="navbar-wagon navbar-fixed-top hidden-xs">
  <!-- Logo -->
  <div class="logo">
    <%= link_to root_path do %>
      <%= image_tag "balloons@3x.png", height: 50, class: "mongolfier_logo" %>
    <% end %>
      <%= link_to root_path, class: "navbar-wagon-brand" do %>
      <%= image_tag "logo-col-3x.png", height: 50 %>
    <% end %>
    <%#= link_to "Find a mover", pages_hire_mover_path, class: "btn-nav-search-container" %>
  </div>


  

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <%# if user_signed_in? %>
      <% if params[:commit] %>
        <span class="earn-up-to navbar-wagon-item">Potential earnings </span>
        <button type="button" class="btn btn-information" data-toggle="modal" data-target="#estimate">
          <i class="fas fa-info-circle"></i>
        </button>
        <span class="savings-amount navbar-wagon-item"><%= number_with_precision(@result, :precision => 0, ) %></span><span class="currency navbar-wagon-item"><%= @currency %>
      <% end %>
        </span>
          <%#= link_to "List my container", containers_form_opening_path, class: "btn-list-my-container navbar-wagon-item" %>
           <i class="fas fa-people-carry"></i><%= link_to "Hire a mover", pages_hire_mover_path , class: "navbar-wagon-item navbar-wagon-link btn-hire-mover" %>
          <%= link_to "Find space", pages_search_container_path , class: "navbar-wagon-item navbar-wagon-link btn-find-space" %>
          <%= link_to "Offer space", new_container_path , class: "navbar-wagon-item navbar-wagon-link btn-offer-space" %>
      
  

      <!-- Links when logged in -->
      <%#= link_to "Host", "#", class: "navbar-wagon-item navbar-wagon-link" %>
      <%#= link_to "Trips", "#", class: "navbar-wagon-item navbar-wagon-link" %>
      <%#= link_to "Messages", "#", class: "navbar-wagon-item navbar-wagon-link" %>

      <!-- Avatar with dropdown menu -->
      <!--      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= image_tag "http://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            </li>
            <li>
              <%= link_to "#" do %>
                <i class="fa fa-cog"></i>  <%= t(".settings", default: "Settings") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div> -->
    <%# else %>
      <!-- Login link (when logged out) -->
      <%#= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%# end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><%= link_to "Home",  root_path %></li>
          <hr>
          <li><%= link_to "Hire a mover",  new_list_path %></li>
          <li><%= link_to "Learn about sharing my container",  new_container_path %></li>
           <li><%= link_to "Offer space",  containers_form_opening_path %></li>
           <li><%= link_to "Find space",  containers_form_opening_path %></li>
      </ul>
    </div>
  </div>
</div>


<!-- mobile navbar -->
<div class="navbar-mobile hidden-sm hidden-md hidden-lg">
   <div class="navbar-wagon-mobile ">
    <!-- Logo -->
   
    

    <!-- Right Navigation -->
   
        <!-- Links when logged in -->
       
        <!-- Avatar with dropdown menu -->
   

    <!-- Dropdown list appearing on mobile only -->
    <div class="hidden-md hidden-lg">
      <div class="dropdown">
        <!-- <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i> -->
        
          <div class="dropdown-toggle" data-toggle="dropdown">
          <%= image_tag "balloons@3x.png", height: 50, class: "mongolfier_logo" %>
          <%= image_tag "arrow.svg", height: 10, class: "arrow" %>
        </div>
        <%= link_to "list my container", containers_form_opening_path, class: "btn-nav-list-container" %>
        <%#= link_to "List my container", containers_form_opening_path, class: "btn-list-my-container navbar-wagon-item" %>
       
        
        
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><%= link_to "Home",  root_path %></li>
          <hr>
          <li><%= link_to "Hire a mover",  new_list_path %></li>
          <li><%= link_to "Learn about sharing my container",  new_container_path %></li>
           <li><%= link_to "Offer space",  containers_form_opening_path %></li>
           <li><%= link_to "Find space",  containers_form_opening_path %></li>

          <hr>
          <% if user_signed_in? %>
            <li><%= link_to destroy_user_session_path, method: :delete do %>
                  <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
                <% end %></li> 
          <% else %>
            <li><%= link_to "Register",  pages_login_path, class: "navbar-wagon-item navbar-wagon-link" %></li> 
            <li><%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %></li> 
          <% end %>


        </ul>
      </div>
    </div>
  </div>
</div>
