<div class="navbar-wagon navbar-fixed-top hidden-xs">
  <!-- Logo -->
  <div class="logo">
    <%= link_to root_path do %>
      <%= image_tag "balloons@3x.png", height: 50, class: "mongolfier_logo" %>
    <% end %>
      <%= link_to root_path, class: "navbar-wagon-brand" do %>
      <%= image_tag "logo-col-3x.png", height: 50 %>
    <% end %>
    <%#= link_to "Find a mover", pages_hire_mover_path, class: "btn-nav-search-container" %>
  </div>

  

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>
   
    
      
  

      <!-- Links when logged in -->
      
      <%= link_to "Browse containers", pages_search_container_path , class: "navbar-wagon-item navbar-wagon-link btn-find-space" %>
      <div class="navbar-wagon-item">
            <div class="dropdown">
              <div class="dropdown-toggle btn-offer-space navbar-wagon-link" data-toggle="dropdown">
                Start a container
              </div>
              <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu navbar-dropdown-menu-right">
                <li><%= link_to share_my_container_path, class: "text-bold" do %>
                      I need a container
                      <p>Get free quotes from our preferred moving companies.</p>
                    <% end %>
                </li>
                <hr>
                <li><%= link_to new_container_path, class: "text-bold"  do %>
                      I have a container
                      <p>Find out how much you could 
                      earn renting your extra space.</p>
                    <% end %>
                </li>
                <hr>
                <li><%= link_to "Join as a moving company",   new_mover_path, class: "dark-grey-color" %></li>
              </ul>
            </div>
          </div>
      

      <!-- Avatar with dropdown menu -->
           <div class="navbar-wagon-item">
        <div class="dropdown">
          <% avatar_url = current_user.facebook_picture_url || "avatar-icon.png" %>
          <%= image_tag avatar_url, class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>

          <%#= image_tag "avatar-icon.png", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu dropdown-menu-right-zero dark-grey-color">
          <!--   <li>
              <%#= link_to "#" do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <%# end %>
            </li>
            <li>
              <%#= link_to "#" do %>
                <i class="fa fa-cog"></i>  <%= t(".settings", default: "Settings") %>
              <%# end %>
            </li> -->
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to "Browse containers", pages_search_container_path , class: "navbar-wagon-item navbar-wagon-link btn-find-space" %>
      <div class="navbar-wagon-item">
            <div class="dropdown">
              <div class="dropdown-toggle btn-offer-space navbar-wagon-link" data-toggle="dropdown">
                Start a container
              </div>
              <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu navbar-dropdown-menu-right">
          
                <li><%= link_to share_my_container_path, class: "text-bold" do %>
                      I need a container
                      <p>Get free quotes from our preferred moving companies.</p>
                    <% end %>
                </li>
                <hr>
                <li><%= link_to new_container_path, class: "text-bold"  do %>
                      I have a container
                      <p>Find out how much you could 
                      earn renting your extra space.</p>
                    <% end %>
                </li>
                <hr>
                <li><%= link_to "Join as a moving company",   new_mover_path, class: "dark-grey-color" %></li>
              </ul>
            </div>
          </div>
       <%= link_to "Sign up",  pages_login_path, class: "navbar-wagon-item navbar-wagon-link" %>

      <%= link_to t(".sign_in", default: "Log in"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><%= link_to "Home",  root_path %></li>
          <hr>
          <li><%= link_to "Hire a mover",   pages_hire_mover_path %></li>
          <li><%= link_to "Learn about sharing my container",  new_container_path %></li>
           <li><%= link_to "Share my container",   share_my_container_path %></li>
           <li><%= link_to "Find a container",  pages_search_container_path %></li>
      </ul>
    </div>
  </div>
</div>


<!-- mobile navbar -->
<div class="navbar-mobile hidden-sm hidden-md hidden-lg">
   <div class="navbar-wagon-mobile ">
    <!-- Logo -->
   
    

    <!-- Right Navigation -->
   
        <!-- Links when logged in -->
       
        <!-- Avatar with dropdown menu -->
   

    <!-- Dropdown list appearing on mobile only -->
    <div class="hidden-md hidden-lg">
      <div class="dropdown">
        <!-- <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i> -->
        
          <div class="dropdown-toggle" data-toggle="dropdown">
            <%= image_tag "balloons@3x.png", height: 50, class: "mongolfier_logo" %>
            <%= image_tag "arrow.svg", height: 10, class: "arrow" %>
          </div>
          <%= link_to "List my company", new_mover_path(anchor: 'partner_form'), class: "btn-nav-list-company" %>
       
        
        
         <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><%= link_to "Home",  root_path %></li>
          <hr>
          <li><%= link_to "Browse containers",  pages_search_container_path, class: "search-icon-link" %></li>
          <hr>
          <span class="nav-title add-icon-link">Start a container</span>
          <li><%= link_to share_my_container_path, class: "nav-subtitle" do %>
                I need a container
                <p>Get free quotes from our 
                preferred moving companies.</p>
              <% end %>
          </li>
          <li><%= link_to new_container_path, class: "nav-subtitle subtitle-margin-top" do %>
                I have a container
                <p>Find out how much you could 
            earn renting your extra space.</p>
            <% end %>
          </li>
          <hr>
          <li><%= link_to "Join as a moving company",  new_mover_path %></li>
          <hr>
          <% if user_signed_in? %>
            <li><%= link_to destroy_user_session_path, method: :delete do %>
                  <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
                <% end %></li> 
          <% else %>
            <li><%= link_to "Sign up",  pages_login_path, class: "navbar-wagon-item navbar-wagon-link" %></li> 
            <li><%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %></li> 
          <% end %>


        </ul>
      </div>
    </div>
  </div>
</div>

</div>