<div class="blank-wrapper">
        
</div>
<div class="banner ">
	<!-- mobile banner -->
	<div class="container hidden-sm hidden-md hidden-lg">
		<h1>Earn money, <br>share your container</h1>
	</div>
	<!-- desktop & large devices banner -->
		<div class="container hidden-xs">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-5">
					<%= render 'calculator-form-dskt' %>
				</div>
			</div>
		</div>
		<!-- <div style="border: 2px solid red; color: white; margin-top: 100px; margin-bottom: 100px;">
		<%#= params.inspect %>
		</div> -->
	
</div>
<!-- XXXXXXXXX mobile page XXXXXXXXXX -->
<div class="hidden-sm hidden-md hidden-lg">
	<section class="wrapper-calculator-form">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<%= render 'calculator-form-mobile' %>
				</div>
			</div>
		</div>
	</section>
	<section class="wrapper-why-us-mob hidden-sm hidden-md hidden-lg">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="card-why-us-mob">
							<h2>Why share your container?</h2>
						<p>No matter where you are moving, other expats are headed in the same direction. Let them book the space you don’t use and split your container shipping costs with you. 
						You save, they save.</p>
						</div>
					</div>
					<div class="col-xs-12">
						<div class="card-why-us-mob">
							<h2>We team up with your mover</h2>
							<p>Sharing your container is pretty straight forward. All you need to do is let your moving company know you want to do so. Request your container to be listed and we’ll team up with your mover to sell the space you don’t need.</p>
						</div>
						
					</div>
				</div>
			</div>
	</section>
	<section class="wrapper-3-steps-mob hidden-sm hidden-md hidden-lg">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="border-mob"></div>
					<h1>Sharing your container in 3 steps</h1>
				</div>
				<div class="col-xs-12">
					<div class="card-3-steps-mob">
						<div class="badge-mob">
						  1
						</div>
						<h2>List your container for free</h2>
						<p>Confirm your basic move information and who your mover is. Set prices for the space you want to sell, we are here to help along the way.</p>
						
					</div>
				</div>
				<div class="col-xs-12">
					<div class="card-3-steps-mob">
						<div class="badge-mob">
						  2
						</div>
						<h2>Your mover handles everything</h2>
						<p>Once your container is live, qualified expats make enquiries. Your moving company takes care of everything and sells your unused space for you. Track everything in your dashboard.</p>
					</div>
				</div>
				<div class="col-xs-12">
					<div class="card-3-steps-mob">
						<div class="badge-mob">
						  3
						</div>
						<h2>Decide how you get paid</h2>
						<p>Confirm if you want money delivered to your bank account or used to pay your own move bill. Payments are made 1 week after containers sail.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="wrapper-review-mob hidden-sm hidden-md hidden-lg">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="card-review-image-mob" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(<%= asset_path 'review-deskt.jpg' %>);">
					</div>
				</div>
				<div class="col-xs-12">
					<div class="card-review-content-mob">
						<div class="review-content-mob">
							<%= image_tag "right-quotation-mark.svg", height: 30, class: "doube-quotes-mob" %> <br>
							<p>The mover was responsible for handling each move in my container. This definitely helped me decide to share my container.
							</p>
							<span class="review-owner-mob">
								Karen shared a container with other teachers
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="wrapper-container-sharing-mob hidden-sm hidden-md hidden-lg">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="border-mob"></div>
					<h1>Simple, secure & compliant</h1>
				</div>
				<div class="col-xs-12">
					<div class="sharing-description-mob card-padding-mob">
						<p>We know it’s a priority to make sure that sharing your container does not affect your move in any way: <br>
						- your schedule must be respected <br>
						- no hiccup at customs can be tolerated <br> <br>

						To achieve this, we team-up with your mover to qualify every expat interested in booking your unused space. Their schedule must fit yours, their paperwork must be in order for customs clearance.</p>
					</div>
					
				</div>
				<div class="col-xs-12">
					<div class="sharing-points-mob card-padding-mob">
						<ul>
							<li><%= image_tag "check.svg", height: 50, class: "checklist-icon" %><span class="text-bold">Secure</span> : all moves are packed by the moving company</li>
							<li><%= image_tag "check.svg", height: 50, class: "checklist-icon" %><span class="text-bold">Compliant</span> : each move is cleared separately under its owner’s name</li>
							<li><%= image_tag "check.svg", height: 50, class: "checklist-icon" %><span class="text-bold">Insured</span> : moving insurance is available for all moves</li>
							<li><%= image_tag "check.svg", height: 50, class: "checklist-icon" %><span class="text-bold">On-time</span> : : container’s sailing schedule is set on YOUR dates</li>
							<li><%= image_tag "check.svg", height: 50, class: "checklist-icon" %><span class="text-bold">Secure</span>  : your container is sealed & opened in front of you</li>
							<li><%= image_tag "check.svg", height: 50, class: "checklist-icon" %><span class="text-bold">Vetted</span> : listings are quality controlled & approved by coshippers</li>
						</ul>
					</div>
					
				</div>
			</div>
		</div>
	</section>
	<section class="wrapper-movers-list-mob hidden-sm hidden-md hidden-lg">
		<div class="container">
			<div class="row">
				<div class="col-xs-8">
					<h2>Need to book your container?</h2>
					<p>Receive a free list of preferred moving companies in your country. Come back & list your container when you are ready.</p>
				</div>
				<div class="col-xs-4">

					<div class="card-mover-image-mob">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="btn-movers-list-section">
						<%= link_to "Get list", pages_hire_mover_path, class: "btn-get-movers-list-mob" %>
				</div>
					</div>
			</div>		
		</div>
	</section>
	<section class="wrapper-payments-mob hidden-sm hidden-md hidden-lg">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="border"></div>
					<h1>Payments made simple</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<div class="card-payments">
						<h2>Charge what you want</h2>
						<p>You always get to pick the price for your unused space. Use our suggested prices or set your own.</p>
						
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card-payments">
						<h2>Pay low fees</h2>
						<p>There’s no cost to sign up. We generally charge a flat 5% to container owners per booking made.</p>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card-payments">
						<h2>Decide who gets paid</h2>
						<p>Receive the money in your bank account or have it wired to your mover to cover your container costs. You decide.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="wrapper-review-II-mob hidden-sm hidden-md hidden-lg">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="card-review-image" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(<%= asset_path 'couple-review-dskt.jpg' %>);">
					</div>
				</div>
				<div class="col-sm-6">
					<div class="card-review-content">
						<div class="review-content">
							<%= image_tag "right-quotation-mark.svg", height: 30, class: "doube-quotes" %> <br> 
							<p>Sharing our container has pretty much paid the flight tickets.
							</p>
							<span class="review-owner">
								Marie & Jean-Paul used coshippers to reduce 
								their relocation expenses
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="wrapper-about-us-mob hidden-sm hidden-md hidden-lg">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="border"></div>
					<h1>About coshippers</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="card-why-us">
							<h2>What is coshippers?</h2>
							<p>coshippers is a community based international moving platform. We use spare container capacity and the power of online communities to make international moving finally affordable.</p>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="card-why-us">
							<h2>What is a groupage?</h2>
							<p>You can earn money by sharing your container’s space with expats relocating on a similar itinerary. A shared-container is usually referred to as “groupage” by moving companies. List your container and earn money from your spare space.</p>
						</div>
						
					</div>
				</div>
			</div>
	</section>
	<section class="FAQ-mob hidden-sm hidden-md hidden-lg">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="border"></div>
					<h1>Your questions answered</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
						<div class="card-faq">
							 <button type="button" class=" btn-faq" data-toggle="modal" data-target="#who-can-start-a-groupage-mob">
						  	Who can list a container?
							</button>
							<hr>
							 <button type="button" class=" btn-faq" data-toggle="modal" data-target="#what-is-required-for-expats-mob">
						  	What is required of expats joining my container?
							</button>
							<hr>
							<button type="button" class=" btn-faq" data-toggle="modal" data-target="#how-much-does-it-cost-to-list-mob">
						  	How much does it cost to list my container?
							</button>
							<hr>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="card-faq">
							<button type="button" class=" btn-faq" data-toggle="modal" data-target="#what-protection-do-i-have-mob">
						  	Will my goods be mixed with others in the container?
							</button>
							<hr>
							<button type="button" class=" btn-faq" data-toggle="modal" data-target="#how-much-do-i-pay-mob">
						  	What protection do I have against property damage?
							</button>
							<hr>
							<button type="button" class=" btn-faq" data-toggle="modal" data-target="#how-can-mygroupage-help-mob">
						  	How can coshippers help me with setting prices?
							</button>
							<hr>
						</div>
						
					</div>
			</div>
			<%= render 'containers/faq/mobile/modal-faq1-mobile' %>
			<%= render 'containers/faq/mobile/modal-faq2-mobile' %>
			<%= render 'containers/faq/mobile/modal-faq3-mobile' %>
			<%= render 'containers/faq/mobile/modal-faq4-mobile' %>
			<%= render 'containers/faq/mobile/modal-faq5-mobile' %>
			<%= render 'containers/faq/mobile/modal-faq6-mobile' %>
		</div>
	</section>
	<section class="wrapper-ready-to-earn-mob hidden-sm hidden-md hidden-lg">
			<div class="image-box" style="background-image: linear-gradient(270deg, rgba(14, 13, 19, 0) 48.91%, #333333 100%), url(<%= asset_path 'sitted-lady-mob.jpg' %>);">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<div class="ready-to-earn-content">
								<h1>Ready to earn?</h1>
								<%= link_to "List my container", containers_form_opening_path, class: "btn-list-container2" %>
							</div>
						</div>
					</div>
				</div>
					
			</div>
	</section>	
</div>





<!-- ***************** desktop page ************ -->
<div class="hidden-xs">
	<section class="wrapper-why-us">
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="card-why-us">
							<h2>Why share your container?</h2>
						<p>No matter where you are moving, other expats are headed in the same direction. Let them book the space you don’t use and split your container shipping costs with you. 
						You save, they save.</p>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="card-why-us">
							<h2>We team up with your mover</h2>
							<p>Sharing your container is pretty straight forward. All you need to do is let your moving company know you want to do so. Request your container to be listed and we’ll team up with your mover to sell the space you don’t need.</p>
						</div>
						
					</div>
				</div>
			</div>
	</section>
	<section class="wrapper-3-steps">
		<div class="container">
			<div class="row">
				<div class="border"></div>
				<h1>Sharing your container in 3 steps</h1>
				<div class="col-sm-4">
					<div class="card-3-steps">
						<div class="badge">
						  1
						</div>
						<h2>List your container for free</h2>
						<p>Confirm your basic move information and who your mover is. Set prices for the space you want to sell, we are here to help along the way. </p>
						
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card-3-steps">
						<div class="badge">
						  2
						</div>
						<h2>Your mover handles everything</h2>
						<p>Once your container is live, qualified expats make enquiries. Your moving company takes care of everything and sells your unused space for you. Track everything in your dashboard. </p>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card-3-steps">
						<div class="badge">
						  3
						</div>
						<h2>Decide how you get paid</h2>
						<p>Confirm if you want money delivered to your bank account or used to pay your own move bill. Payments are made 1 week after containers sail.
						</p>
					</div>
				</div>
			</div>
		</div>
		
	</section>
	<section class="wrapper-review">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="card-review-image card-padding" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(<%= asset_path 'review-deskt.jpg' %>);">
					</div>
				</div>
				<div class="col-sm-6">
					<div class="card-review-content card-padding">
						<div class="review-content">
							<%= image_tag "right-quotation-mark.svg", height: 30, class: "doube-quotes" %> <br>
							<p>The mover was responsible for handling each move in my container. This definitely helped me decide to share my container.
							</p>
							<span class="review-owner">
								Karen shared a container with other teachers
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="wrapper-container-sharing">
		<div class="container">
			<div class="row">
				<div class="border"></div>
				<h1>Simple, secure & compliant</h1>
				<div class="col-sm-6">
					<div class="sharing-description card-padding">
						<p>We know it’s a priority to make sure that sharing your container does not affect your move in any way: <br>
						- your schedule must be respected <br>
						- no hiccup at customs can be tolerated <br> <br>

						To achieve this, we team-up with your mover to qualify every expat interested in booking your unused space. Their schedule must fit yours, their paperwork must be in order for customs clearance.</p>
					</div>
					
				</div>
				<div class="col-sm-6">
					<div class="sharing-points card-padding">
						<ul>
							<li><%= image_tag "check.svg", height: 50, class: "checklist-icon" %><span class="text-bold">Secure</span> : all moves are packed by the moving company</li>
							<li><%= image_tag "check.svg", height: 50, class: "checklist-icon" %><span class="text-bold">Compliant</span> : each move is cleared separately under its owner’s name</li>
							<li><%= image_tag "check.svg", height: 50, class: "checklist-icon" %><span class="text-bold">Insured</span> : moving insurance is available for all moves</li>
							<li><%= image_tag "check.svg", height: 50, class: "checklist-icon" %><span class="text-bold">On-time</span> : : container’s sailing schedule is set on YOUR dates</li>
							<li><%= image_tag "check.svg", height: 50, class: "checklist-icon" %><span class="text-bold">Secure</span>  : your container is sealed & opened in front of you</li>
							<li><%= image_tag "check.svg", height: 50, class: "checklist-icon" %><span class="text-bold">Vetted</span> : listings are quality controlled & approved by coshippers</li>
						</ul>
					</div>
					
				</div>
			</div>
		</div>
	</section>
	<section class="wrapper-movers-list">
		<div class="container">
			<div class="movers-list-box">
				<div class="row">
						<div class="col-sm-8">
							<div class="movers-list-text">
								<h2>Need to book your container?</h2>
								<p>Receive a free list of preferred moving companies in your country. Come back & list your container when you are ready.</p>
								<%= link_to "Get list", pages_hire_mover_path, class: "btn-get-movers-list" %>
							</div>
							
						</div>
						<div class="col-sm-4">
							<div class="movers-list-image">
								<%= image_tag "moving-assist-desk.png", height: 50, class: "mover-assist-image" %>
							</div>
						</div>
				</div>
			</div>
		</div>
	</section>
	<section class="wrapper-payments">
		<div class="container">
			<div class="row">
				<div class="border"></div>
				<h1>Payments made simple</h1>
				<div class="col-sm-4">
					<div class="card-payments">
						<h2>Charge what you want</h2>
						<p>You always get to pick the price for your unused space. Use our suggested prices or set your own.</p>
						
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card-payments">
						<h2>Pay low fees</h2>
						<p>There’s no cost to sign up. We generally charge a flat 5% to container owners per booking made.</p>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card-payments">
						<h2>Decide who gets paid</h2>
						<p>Receive the money in your bank account or have it wired to your mover to cover your container costs. You decide.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="wrapper-review-II">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="card-review-content">
						<div class="review-content">
							<%= image_tag "right-quotation-mark.svg", height: 30, class: "doube-quotes" %> <br> 
							<p>Sharing our container has pretty much paid the flight tickets.
							</p>
							<span class="review-owner">
								Marie & Jean-Paul used coshippers to reduce 
								their relocation expenses
							</span>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="card-review-image" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(<%= asset_path 'couple-review-dskt.jpg' %>);">
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="wrapper-about-us">
			<div class="container">
				<div class="row">
					<div class="border"></div>
					<h1>About coshippers</h1>
					<div class="col-sm-6">
						<div class="card-why-us">
							<h2>What is coshippers?</h2>
							<p>coshippers is a community based international moving platform. We use spare container capacity and the power of online communities to make international moving finally affordable.</p>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="card-why-us">
							<h2>What is a groupage?</h2>
							<p>You can earn money by sharing your container’s space with expats relocating on a similar itinerary. A shared-container is usually referred to as “groupage” by moving companies. List your container and earn money from your spare space.</p>
						</div>
						
					</div>
				</div>
			</div>
	</section>
	<section class="FAQ">
		<div class="container">
			<div class="row">
				<div class="border"></div>
				<h1>Your questions answered</h1>
				<div class="col-sm-6">
						<div class="card-faq">
							 <button type="button" class=" btn-faq" data-toggle="modal" data-target="#who-can-start-a-groupage">
						  	Who can list a container?
							</button>
							<hr>
							 <button type="button" class=" btn-faq" data-toggle="modal" data-target="#what-is-required-for-expats">
						  	What is required of expats joining my container?
							</button>
							<hr>
							<button type="button" class=" btn-faq" data-toggle="modal" data-target="#how-much-does-it-cost-to-list">
						  	How much does it cost to list my container?
							</button>
							<hr>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="card-faq">
							<button type="button" class=" btn-faq" data-toggle="modal" data-target="#what-protection-do-i-have">
						  	Will my goods be mixed with others in the container?
							</button>
							<hr>
							<button type="button" class=" btn-faq" data-toggle="modal" data-target="#how-much-do-i-pay">
						  	What protection do I have against property damage?
							</button>
							<hr>
							<button type="button" class=" btn-faq" data-toggle="modal" data-target="#how-can-mygroupage-help">
						  	How can coshippers help me with setting prices?
							</button>
							<hr>
						</div>
						
					</div>
			</div>
			<%= render 'containers/faq/modal-faq1' %>
			<%= render 'containers/faq/modal-faq2' %>
			<%= render 'containers/faq/modal-faq3' %>
			<%= render 'containers/faq/modal-faq4' %>
			<%= render 'containers/faq/modal-faq5' %>
			<%= render 'containers/faq/modal-faq6' %>
		</div>
	</section>
	<section class="wrapper-ready-to-earn">
		<div class="container">
			<div class="image-box" style="background-image: linear-gradient(90deg, #0E0D13 0%, rgba(13, 12, 18, 0.9) 0.01%, rgba(3, 2, 8, 0) 63.54%), url(<%= asset_path 'sitted-lady.jpg' %>);">
					<div class="ready-to-earn-content">
						<h1>Ready to earn?</h1>
						<%= link_to "List my container", containers_form_opening_path, class: "btn-list-container2" %>
					</div>
			</div>
		</div>
	</section>	
</div>

<!-- <div class="banner-mobile hidden-sm hidden-md hidden-lg">
	
</div> -->


