<div class="opening-form-section">
	<div class="progressbar">
		
		<div class="logo">
			<%= link_to  new_container_path, class: "navbar-wagon-brand" do %>
      			<%= image_tag "balloons@3x.png", height: 50, class: "ballon-logo" %>
    		<% end %>
    		<h2>List your container</h2>
		</div>	
	</div>
	<div class="progress">
  		<div class="progress-bar background-tuorquoise" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
  			
  		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h2>Before you continue.</h2>
				<p>Listing your container on myGroupage is only possible if you have already booked your move/container with a trusted international moving company. <br>
				<br>
				If you have not booked your move yet, simply request <span class="turquoise-color">our list of trusted international moving companies</span> in your country and start requesting quotes.</p>
				<div class="buttons-section">
					<%= link_to "Cancel", new_container_path, class: "btn-cancel" %>
					 <%= link_to "List my container",  new_container_groupage_path([:container_id]) , class: "btn-list-my-container" %>
				</div>			
			</div>		
				
			<div class="col-sm-6">
				<div class="image-background">
					<%= image_tag "ship.svg", height: 600, class: "ship-img" %>
				</div>
				
			</div>
		</div>
		
	</div>
</div>


