
<div class="form-calculator">
	<h1>Share your container <br>and earn money</h1>
	<p>Find out what you could earn</p>
	<%#= form_for  root_path, :method => "POST" do %>
 	<%= simple_form_for @saving, url: calculator_path do |f| %>

	
		<div class="row">
			<div class="col-xs-12">
	
				<%= f.input :container, label: false, collection: Saving::CONTAINERS, prompt: "My container size" %>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-7">
				<%= f.input :volume, as: :integer, label: false, input_html: { class: 'large-input' }, placeholder: "Volume of my move" %>
			</div>
			<div class="col-xs-5">
				<%= f.input :metrics, label: false,input_html: { class: 'special' }, collection: Saving::METRIC, selected: @selected_metrics %>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-7">
				<%= f.input :price, as: :integer, label: false, input_html: { class: 'large-input' },  placeholder: "Best price you got so far" %>
			</div>
			<div class="col-xs-5">
				<%= f.input :currency, label: false, input_html: { class: 'special' },  collection: Saving::CURRENCIES , selected: @currecies %>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-7 results-section">

				<% if params[:commit]%>
					<div class="results-values">
						<h3> <span class="results-savings"><%= number_with_precision(@result, :precision => 0, ) %></span> <span class="results-currency"><%= @currency %></span></h3>
						 <span class="results-earn-up-to ">EARN UP TO</span>
						 <button type="button" class="btn btn-information" data-toggle="modal" data-target="#estimate">
							  <i class="fas fa-info-circle"></i>
						</button>
					</div>
				<% end %>
			</div>
			<div class="col-xs-5">
				<div class="results-btn">
					<%= f.submit "Calculate", class: "btn btn-calculate"  %>
				</div>
			</div>
		</div>
	<%	end  %>
	 <%= render 'savings/modal_information' %>
</div>
