<div class="banner ">
	<!-- mobile banner -->
	<div class="container hidden-sm hidden-md hidden-lg">
		<h1>Share your container <br> and earn money</h1>
	</div>
	<!-- desktop & small devices banner -->
		<div class="container hidden-xs">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-5">
					<%= render 'calculator-form-dskt' %>
				</div>
			</div>
		</div>
	<!-- <div style="border: 2px solid red; color: white;">
		<%#= params.inspect %>
	</div> -->
</div>
<!-- XXXXXXXXX mobile page XXXXXXXXXX -->
<div class="hidden-sm hidden-md hidden-lg">
	<section class="wrapper-calculator-form">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<%= render 'calculator-form-mobile' %>
				</div>
			</div>
		</div>
	</section>
	<section class="wrapper-why-us-mob hidden-sm hidden-md hidden-lg">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="card-why-us-mob">
							<h2>Why share your container?</h2>
						<p>No matter where you are moving, other expats are headed in the same direction. Let them book the space you don’t use.  They will move at a competitive rate while you could end up reducing your own move costs by up to 70%. Win win.</p>
						</div>
					</div>
					<div class="col-xs-12">
						<div class="card-why-us-mob">
							<h2>Simple, secure and compliant</h2>
							<p>Sharing your container is pretty straight forward. All you need to do is list your container on myGroupage. We’ll team-up with your mover and confirm only fully compliant bookings that fit your exact schedule.</p>
						</div>
						
					</div>
				</div>
			</div>
	</section>
	<section class="wrapper-3-steps-mob hidden-sm hidden-md hidden-lg">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="border-mob"></div>
					<h1>Sharing your container in 3 steps</h1>
				</div>
				<div class="col-xs-12">
					<div class="card-3-steps-mob">
						<div class="badge-mob">
						  1
						</div>
						<h2>Book your move 
							with a trusted mover</h2>
						<p>Contact & book any of our trusted moving partners near you. List your container when you have booked it.</p>
						
					</div>
				</div>
				<div class="col-xs-12">
					<div class="card-3-steps-mob">
						<div class="badge-mob">
						  2
						</div>
						<h2>List your container <br>
							for free</h2>
						<p>Confirm your dates and itinerary. Keep it invite-only or public to let anyone book. We’re there to help along the way. </p>
					</div>
				</div>
				<div class="col-xs-12">
					<div class="card-3-steps-mob">
						<div class="badge-mob">
						  3
						</div>
						<h2>Receive your first <br> booking</h2>
						<p>Once your container is live, qualified expats make enquiries. Sit back as we turn them into revenue for you.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="wrapper-review-mob hidden-sm hidden-md hidden-lg">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="card-review-image-mob" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(<%= asset_path 'review-deskt.jpg' %>);">
					</div>
				</div>
				<div class="col-xs-12">
					<div class="card-review-content-mob">
						<div class="review-content-mob">
							<%= image_tag "right-quotation-mark.svg", height: 30, class: "doube-quotes-mob" %> <br>
							<p>The movers are responsible for handling each move in the container. This definitely helped us decide to share our container.&nbsp;
							</p>
							<span class="review-owner-mob">
								Karen shared a container with other teachers
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="wrapper-container-sharing-mob hidden-sm hidden-md hidden-lg">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="border-mob"></div>
					<h1>Container sharing done right</h1>
				</div>
				<div class="col-xs-12">
					<div class="sharing-description-mob card-padding-mob">
						<p>We know it’s a priority to make sure sharing your container does not affect your move in any way. The schedule must be respected and there should be no hiccup at customs. <br> <br>

						To achieve this, we team-up with your mover to qualify every expat interested in booking your space. We verify that their schedule fits into yours, and check if their paperwork is in good order for customs clearance.</p>
					</div>
					
				</div>
				<div class="col-xs-12">
					<div class="sharing-points-mob card-padding-mob">
						<ul>
							<li><%= image_tag "check.svg", height: 50, class: "checklist-icon" %><span class="text-bold">Secure</span> : all moves are packed by the moving company</li>
							<li><%= image_tag "check.svg", height: 50, class: "checklist-icon" %><span class="text-bold">Compliant</span> : each move is cleared separately under its owner’s name</li>
							<li><%= image_tag "check.svg", height: 50, class: "checklist-icon" %><span class="text-bold">Safe</span> : your container is sealed & opened in front of you</li>
							<li><%= image_tag "check.svg", height: 50, class: "checklist-icon" %><span class="text-bold">On-time</span> : container’s journey is set around your own schedule</li>
							<li><%= image_tag "check.svg", height: 50, class: "checklist-icon" %><span class="text-bold">Confidential</span> : keep your shared-container invite-only if needed</li>
							<li><%= image_tag "check.svg", height: 50, class: "checklist-icon" %><span class="text-bold">Trusted</span> : we only work with movers who handle groupages regularly</li>
						</ul>
					</div>
					
				</div>
			</div>
		</div>
	</section>
	<section class="wrapper-movers-list-mob hidden-sm hidden-md hidden-lg">
		<div class="container">
			<div class="row">
				<div class="col-xs-8">
					<h2>Looking for a mover?</h2>
					<p>Receive the list of moving companies we trust in your country. Come back & list your container when you are ready.</p>
				</div>
				<div class="col-xs-4">

					<div class="card-mover-image-mob">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="btn-movers-list-section">
						<%= link_to "Get list", "#", class: "btn-get-movers-list-mob" %>
				</div>
					</div>
			</div>		
		</div>
	</section>
	<section class="wrapper-payments-mob hidden-sm hidden-md hidden-lg">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="border"></div>
					<h1>Payments made simple</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<div class="card-payments">
						<h2>Starter’s advantage</h2>
						<p>Starting a shared-container is always cheaper than joining an existing one. <br> Each booking contributes to reducing your whole door to door bill, not just shipping costs.</p>
						
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card-payments">
						<h2>Pay low fees for free</h2>
						<p>There’s no cost to sign up. We generally retain a flat 6% per reservation made on your container to cover financial costs and the use of our platform. </p>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card-payments">
						<h2>Get paid quickly</h2>
						<p>Expats that reserve a space in your container are debitted as soon as their booking is done. We can send your money by Paypal, direct deposit, or other available methods.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="wrapper-review-II-mob hidden-sm hidden-md hidden-lg">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="card-review-image" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(<%= asset_path 'couple-review-dskt.jpg' %>);">
					</div>
				</div>
				<div class="col-sm-6">
					<div class="card-review-content">
						<div class="review-content">
							<%= image_tag "right-quotation-mark.svg", height: 30, class: "doube-quotes" %> <br> 
							<p>Sharing our container has helped us pay for the flight tickets.&nbsp;
							</p>
							<span class="review-owner">
								Marie used myGroupage to reduce her relocation expenses
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="wrapper-about-us-mob hidden-sm hidden-md hidden-lg">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="border"></div>
					<h1>About myGroupage</h1>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="card-why-us">
							<h2>What is myGroupage?</h2>
							<p>myGroupage is changing the way people move abroad. We apply innovations of the sharing economy to international moving. With technology and great international moving partners, we create shared-containers on-demand and allow expats to enjoy a professional move at the lowest rate in the market.</p>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="card-why-us">
							<h2>What is a groupage?</h2>
							<p>You can greatly reduce your moving costs by sharing your container with expats relocating on a similar itinerary. Think of a groupage like ridesharing, where people share your space and split the costs. All our groupages are handled by reputable moving companies who have partnered with us.</p>
						</div>
						
					</div>
				</div>
			</div>
	</section>
	<section class="FAQ-mob hidden-sm hidden-md hidden-lg">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div class="border"></div>
					<h1>Your questions answered</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
						<div class="card-faq">
							 <button type="button" class=" btn-faq" data-toggle="modal" data-target="#who-can-start-a-groupage-mob">
						  	Who can start a groupage?
							</button>
							<hr>
							 <button type="button" class=" btn-faq" data-toggle="modal" data-target="#what-is-required-for-expats-mob">
						  	What is required of expats joining my container?
							</button>
							<hr>
							<button type="button" class=" btn-faq" data-toggle="modal" data-target="#how-much-does-it-cost-to-list-mob">
						  	How much does it cost to list my container?
							</button>
							<hr>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="card-faq">
							<button type="button" class=" btn-faq" data-toggle="modal" data-target="#what-protection-do-i-have-mob">
						  	What protection do I have against property damage?
							</button>
							<hr>
							<button type="button" class=" btn-faq" data-toggle="modal" data-target="#how-much-do-i-pay-mob">
						  	How much do I have to pay for my move?
							</button>
							<hr>
							<button type="button" class=" btn-faq" data-toggle="modal" data-target="#how-can-mygroupage-help-mob">
						  	How can myGroupage help me with setting prices?
							</button>
							<hr>
						</div>
						
					</div>
			</div>
			<%= render 'savings/faq/mobile/modal-faq1-mobile' %>
			<%= render 'savings/faq/mobile/modal-faq2-mobile' %>
			<%= render 'savings/faq/mobile/modal-faq3-mobile' %>
			<%= render 'savings/faq/mobile/modal-faq4-mobile' %>
			<%= render 'savings/faq/mobile/modal-faq5-mobile' %>
			<%= render 'savings/faq/mobile/modal-faq6-mobile' %>
		</div>
	</section>
	<section class="wrapper-ready-to-earn-mob hidden-sm hidden-md hidden-lg">
			<div class="image-box" style="background-image: linear-gradient(270deg, rgba(14, 13, 19, 0) 48.91%, #333333 100%), url(<%= asset_path 'sitted-lady-mob.jpg' %>);">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<div class="ready-to-earn-content">
								<h1>Ready to earn?</h1>
								<%= link_to "List my container", "#", class: "btn-list-container2" %>
							</div>
						</div>
					</div>
				</div>
					
			</div>
	</section>	

</div>





<!-- ***************** desktop page ************ -->
<div class="hidden-xs">
	<section class="wrapper-why-us">
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="card-why-us">
							<h2>Why share your container?</h2>
						<p>No matter where you are moving, other expats are headed in the same direction. Let them book the space you don’t use.  They will move at a competitive rate while you could end up reducing your own move costs by up to 70%. Win win.</p>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="card-why-us">
							<h2>Simple, secure and compliant</h2>
							<p>Sharing your container is pretty straight forward. All you need to do is list your container on myGroupage. We’ll team-up with your mover and confirm only fully compliant bookings that fit your exact schedule.</p>
						</div>
						
					</div>
				</div>
			</div>
	</section>
	<section class="wrapper-3-steps">
		<div class="container">
			<div class="row">
				<div class="border"></div>
				<h1>Sharing your container in 3 steps</h1>
				<div class="col-sm-4">
					<div class="card-3-steps">
						<div class="badge">
						  1
						</div>
						<h2>Book your move 
							with a trusted mover</h2>
						<p>Contact & book any of our trusted moving partners near you. List your container when you have booked it.</p>
						
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card-3-steps">
						<div class="badge">
						  2
						</div>
						<h2>List your container <br>
							for free</h2>
						<p>Confirm your dates and itinerary. Keep it invite-only or public to let anyone book. We’re there to help along the way. </p>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card-3-steps">
						<div class="badge">
						  3
						</div>
						<h2>Receive your first <br> booking</h2>
						<p>Once your container is live, qualified expats make enquiries. Sit back as we turn them into revenue for you.
						</p>
					</div>
				</div>
			</div>
		</div>
		
	</section>
	<section class="wrapper-review">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="card-review-image card-padding" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(<%= asset_path 'review-deskt.jpg' %>);">
					</div>
				</div>
				<div class="col-sm-6">
					<div class="card-review-content card-padding">
						<div class="review-content">
							<%= image_tag "right-quotation-mark.svg", height: 30, class: "doube-quotes" %> <br>
							<p>The movers are responsible for handling each move in the container. This definitely helped us decide to share our container.&nbsp;
							</p>
							<span class="review-owner">
								Karen shared a container with other teachers
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="wrapper-container-sharing">
		<div class="container">
			<div class="row">
				<div class="border"></div>
				<h1>Container sharing done right</h1>
				<div class="col-sm-6">
					<div class="sharing-description card-padding">
						<p>We know it’s a priority to make sure sharing your container does not affect your move in any way. The schedule must be respected and there should be no hiccup at customs. <br> <br>

						To achieve this, we team-up with your mover to qualify every expat interested in booking your space. We verify that their schedule fits into yours, and check if their paperwork is in good order for customs clearance.</p>
					</div>
					
				</div>
				<div class="col-sm-6">
					<div class="sharing-points card-padding">
						<ul>
							<li><%= image_tag "check.svg", height: 50, class: "checklist-icon" %><span class="text-bold">Secure</span> : all moves are packed by the moving company</li>
							<li><%= image_tag "check.svg", height: 50, class: "checklist-icon" %><span class="text-bold">Compliant</span> : each move is cleared separately under its owner’s name</li>
							<li><%= image_tag "check.svg", height: 50, class: "checklist-icon" %><span class="text-bold">Safe</span> : your container is sealed & opened in front of you</li>
							<li><%= image_tag "check.svg", height: 50, class: "checklist-icon" %><span class="text-bold">On-time</span> : container’s journey is set around your own schedule</li>
							<li><%= image_tag "check.svg", height: 50, class: "checklist-icon" %><span class="text-bold">Confidential</span> : keep your shared-container invite-only if needed</li>
							<li><%= image_tag "check.svg", height: 50, class: "checklist-icon" %><span class="text-bold">Trusted</span> : we only work with movers who handle groupages regularly</li>
						</ul>
					</div>
					
				</div>
			</div>
		</div>
	</section>
	<section class="wrapper-movers-list">
		<div class="container">
			<div class="movers-list-box">
				<div class="row">
						<div class="col-sm-8">
							<div class="movers-list-text">
								<h2>Still looking for a mover?</h2>
								<p>Receive the list of moving companies we trust in your country. Come back & list your container when you are ready.</p>
								<%= link_to "Get list", "#", class: "btn-get-movers-list" %>
							</div>
							
						</div>
						<div class="col-sm-4">
							<div class="movers-list-image">
								<%= image_tag "moving-assist-desk.png", height: 50, class: "mover-assist-image" %>
							</div>
						</div>
				</div>
			</div>
		</div>
	</section>
	<section class="wrapper-payments">
		<div class="container">
			<div class="row">
				<div class="border"></div>
				<h1>Payments made simple</h1>
				<div class="col-sm-4">
					<div class="card-payments">
						<h2>Starter’s advantage</h2>
						<p>Starting a shared-container is always cheaper than joining an existing one. <br> Each booking contributes to reducing your whole door to door bill, not just shipping costs.</p>
						
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card-payments">
						<h2>Pay low fees for free</h2>
						<p>There’s no cost to sign up. We generally retain a flat 6% per reservation made on your container to cover financial costs and the use of our platform. </p>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card-payments">
						<h2>Get paid quickly</h2>
						<p>Expats that reserve a space in your container are debitted as soon as their booking is done. We can send your money by Paypal, direct deposit, or other available methods.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="wrapper-review-II">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="card-review-content">
						<div class="review-content">
							<%= image_tag "right-quotation-mark.svg", height: 30, class: "doube-quotes" %> <br> 
							<p>Sharing our container has helped us pay for the flight tickets.&nbsp;
							</p>
							<span class="review-owner">
								Marie used myGroupage to reduce her relocation expenses
							</span>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="card-review-image" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(<%= asset_path 'couple-review-dskt.jpg' %>);">
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="wrapper-about-us">
			<div class="container">
				<div class="row">
					<div class="border"></div>
					<h1>About myGroupage</h1>
					<div class="col-sm-6">
						<div class="card-why-us">
							<h2>What is myGroupage?</h2>
							<p>myGroupage is changing the way people move abroad. We apply innovations of the sharing economy to international moving. With technology and great international moving partners, we create shared-containers on-demand and allow expats to enjoy a professional move at the lowest rate in the market.</p>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="card-why-us">
							<h2>What is a groupage?</h2>
							<p>You can greatly reduce your moving costs by sharing your container with expats relocating on a similar itinerary. Think of a groupage like ridesharing, where people share your space and split the costs. All our groupages are handled by reputable moving companies who have partnered with us.</p>
						</div>
						
					</div>
				</div>
			</div>
	</section>
	<section class="FAQ">
		<div class="container">
			<div class="row">
				<div class="border"></div>
				<h1>Your questions answered</h1>
				<div class="col-sm-6">
						<div class="card-faq">
							 <button type="button" class=" btn-faq" data-toggle="modal" data-target="#who-can-start-a-groupage">
						  	Who can start a groupage?
							</button>
							<hr>
							 <button type="button" class=" btn-faq" data-toggle="modal" data-target="#what-is-required-for-expats">
						  	What is required of expats joining my container?
							</button>
							<hr>
							<button type="button" class=" btn-faq" data-toggle="modal" data-target="#how-much-does-it-cost-to-list">
						  	How much does it cost to list my container?
							</button>
							<hr>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="card-faq">
							<button type="button" class=" btn-faq" data-toggle="modal" data-target="#what-protection-do-i-have">
						  	What protection do I have against property damage?
							</button>
							<hr>
							<button type="button" class=" btn-faq" data-toggle="modal" data-target="#how-much-do-i-pay">
						  	How much do I have to pay for my move?
							</button>
							<hr>
							<button type="button" class=" btn-faq" data-toggle="modal" data-target="#how-can-mygroupage-help">
						  	How can myGroupage help me with setting prices?
							</button>
							<hr>
						</div>
						
					</div>
			</div>
			<%= render 'savings/faq/modal-faq1' %>
			<%= render 'savings/faq/modal-faq2' %>
			<%= render 'savings/faq/modal-faq3' %>
			<%= render 'savings/faq/modal-faq4' %>
			<%= render 'savings/faq/modal-faq5' %>
			<%= render 'savings/faq/modal-faq6' %>
		</div>
	</section>
	<section class="wrapper-ready-to-earn">
		<div class="container">
			<div class="image-box" style="background-image: linear-gradient(90deg, #0E0D13 0%, rgba(13, 12, 18, 0.9) 0.01%, rgba(3, 2, 8, 0) 63.54%), url(<%= asset_path 'sitted-lady.jpg' %>);">
					<div class="ready-to-earn-content">
						<h1>Ready to earn?</h1>
						<%= link_to "List my container", "#", class: "btn-list-container2" %>
					</div>
			</div>
		</div>
	</section>	
</div>

<!-- <div class="banner-mobile hidden-sm hidden-md hidden-lg">
	
</div> -->


