
<div class="banner-home">
	<div class="banner-body">
		<h1>Moving overseas? Share a container.</h1>
		<p>Split costs with expats who already have a container.</p>
		<div class="search-form form-inline">
			<%= form_tag groupages_path, method: :get do %>
			  <%= text_field_tag :origin,
			    params[:origin],
			    class: "form-input form-control",
			    placeholder: "I am moving from..."
			  %>
			  <%= hidden_field_tag :latitude %>
						<%= hidden_field_tag :longitude %>
			  <%= submit_tag "Search", class: " btn-search search-icon form-control" %>	
		</div>
	<% end %>
	</div>
</div>

<!-- ***************** desktop page ************ -->
<div class="hidden-xs">
	<section class="wrapper-why-mygroupage">
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="card-whyus">
							<h2>Why move with myGroupage?</h2>
						<p>Everyday, hundreds of expats ship their goods abroad. While costs are high, most containers sail with a great amount of unused space. Use one of those containers for your move and split shipping costs. Win-win !</p>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="card-whyus">
							<h2>Complete & professional service</h2>
							<p>Sharing a container on myGroupage is simple, secure and fully compliant. Every listing is quality controlled & approved by myGroupage. And all operations are handled by international movers near you.</p>
						</div>
						
					</div>
				</div>
			</div>
	</section>
	<section class="wrapper-moving-3-steps">
		<div class="container">
			<div class="row">
				<div class="border"></div>
				<h1>Affordable moving in 3 steps</h1>
				<div class="col-sm-4">
					<div class="card-3-steps">
						<div class="badge">
						  1
						</div>
						<h2>Search containers being shared nearby</h2>
						<p>Confirm details about your move (dates, route, ...). We’ll show you containers that match your need.</p>
						
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card-3-steps">
						<div class="badge">
						  2
						</div>
						<h2>Book the moving services you need</h2>
						<p>Calculate your share of the shipping costs instantly. Request services like packing, door delivery, insurance...</p>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card-3-steps">
						<div class="badge">
						  3
						</div>
						<h2>Enjoy a professional move</h2>
						<p>Although expats are the ones sharing their container, everything is handled by their international moving company.</p>
					</div>
				</div>
			</div>
		</div>		
	</section>
	<section class="wrapper-cards-groupage">
		<div class="container">
			<div class="row">			
				<div class="col-sm-6 col-md-4">
					<div class="card-image">
						<%= link_to root_path, class: "image" do %>
      						<%= image_tag "groupage-1.png"  %>
    					<% end %>
					</div>
				</div>	
				<div class="col-sm-6 col-md-4">
					<div class="card-image">
						<%= link_to root_path, class: "image" do %>
      						<%= image_tag "groupage-2.png"  %>
    					<% end %>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="card-image">
						<%= link_to root_path, class: "image" do %>
      						<%= image_tag "groupage-3.png"  %>
    					<% end %>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="card-image">
						<%= link_to root_path, class: "image" do %>
      						<%= image_tag "groupage-3.png"  %>
    					<% end %>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="card-image">
						<%= link_to root_path, class: "image" do %>
      						<%= image_tag "groupage-1.png"  %>
    					<% end %>
					</div>
				</div>
				<div class="col-sm-6 col-md-4">
					<div class="card-image">
						<%= link_to root_path, class: "image" do %>
      						<%= image_tag "groupage-2.png"  %>
    					<% end %>
					</div>			
				</div>					
			</div>
			<div class="button-find-container">
				<%= link_to "Find a container", "#", class: "btn-find-container " %>
			</div>	
		</div>
	</section>
	<section class="wrapper-profissional-moving">
		<div class="container">
			<div class="row">
				<div class="border"></div>
				<h1>Professional moving</h1>
				<div class="col-sm-6">
					<div class="sharing-description card-padding">
						<p>We know it’s a priority to make sure that sharing a container does not affect your move in any way: 
						- your schedule must be respected
						- no hiccup at customs can be tolerated
						 <br> <br>
						To achieve this, we team-up with your mover to qualify every expat interested in booking your unused space. Their schedule must fit yours, their paperwork must be in order for customs clearance.</p>
					</div>
					
				</div>
				<div class="col-sm-6">
					<div class="sharing-points card-padding">
						<ul>
							<li><%= image_tag "check.svg", height: 50, class: "checklist-icon" %><span class="text-bold">Secure</span> : all moves are packed by the moving company</li>
							<li><%= image_tag "check.svg", height: 50, class: "checklist-icon" %><span class="text-bold">Compliant</span> : each move is cleared separately under its owner’s name</li>
							<li><%= image_tag "check.svg", height: 50, class: "checklist-icon" %><span class="text-bold">Safe</span> : your container is sealed & opened in front of you</li>
							<li><%= image_tag "check.svg", height: 50, class: "checklist-icon" %><span class="text-bold">On-time</span> : container’s journey is set around your own schedule</li>
							<li><%= image_tag "check.svg", height: 50, class: "checklist-icon" %><span class="text-bold">Confidential</span> : keep your shared-container invite-only if needed</li>
							<li><%= image_tag "check.svg", height: 50, class: "checklist-icon" %><span class="text-bold">Trusted</span> : we only work with movers who handle groupages regularly</li>
						</ul>
					</div>
					
				</div>
			</div>
		</div>
	</section>
</div>
