
<div class="banner-home">
	<div class="banner-body">
		<h1>Moving overseas? Share a container.</h1>
		<p>Split costs with expats who already have a container.</p>
		<div class="search-form form-inline">
			<%= form_tag groupages_path, method: :get do %>
			  <%= text_field_tag :origin,
			    params[:origin],
			    class: "form-input form-control",
			    placeholder: "I am moving from..."
			  %>
			  <%= hidden_field_tag :latitude %>
						<%= hidden_field_tag :longitude %>
			  <%= submit_tag "Search", class: " btn-search search-icon form-control" %>	
		</div>
	<% end %>
	</div>
</div>

<!-- ***************** desktop page ************ -->
<div class="hidden-xs">
	<section class="wrapper-why-mygroupage">
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="card-whyus">
							<h2>Why move with myGroupage?</h2>
						<p>Everyday, hundreds of expats ship their goods abroad. While costs are high, most containers sail with a great amount of unused space. Use one of those containers for your move and split shipping costs. Win-win !</p>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="card-whyus">
							<h2>Complete & professional service</h2>
							<p>Sharing a container on myGroupage is simple, secure and fully compliant. Every listing is quality controlled & approved by myGroupage. And all operations are handled by international movers near you.</p>
						</div>
						
					</div>
				</div>
			</div>
	</section>
</div>
