<div class="banner">
	<div class="row">
		<div class="col-xs-12 col-sm-4 col-sm-offset-4">
			<div class="form-calculator">
				<h1>Share your container <br>and earn money</h1>
				<p>Find out what you could earn</p>
			 	<%= simple_form_for :user, url: pages_home_path do |f| %>
				
					<div class="row">
						<div class="col-xs-12">
					<%= f.input :container, label: false, collection: [
								["20’ container (6 meters container)", 30],
								["40’ container (12 meters container)", 40],
								["LCL (less than a container load)", 60]
							], prompt: "My container size"%>
					<div class="row">
						<div class="col-xs-7">
							<%= f.input :volume, as: :integer, label: false, placeholder: "Volume of my move" %>
						</div>
						<div class="col-xs-5">
							<%= f.input :metrics, label: false, collection: [
								["m3 - cubic meters", 1000],
								["cuft - cubic feet", 1200],
							], selected: @selected_metrics %>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-7">
							<%= f.input :price, as: :integer, label: false, placeholder: "Best price you got so far" %>
						</div>
						<div class="col-xs-5">
							<%= f.input :currency, label: false, collection: @currencies, selected: @currecies %>
						</div>
					</div>
					<div class="row">
					<div class="col-xs-6">
						<h3><%= @result %></h3>
					</div>
					<div class="col-xs-6">
						<%= f.submit "Calculate", class: "btn btn-primary"  %>

					</div>
					</div>
					
						</div>
					</div>
				<%	end  %>
			</div>
		</div>
		
	</div>
	<div style="border: 2px solid red; color: white;">
		<%= params.inspect %>
	</div>
	
	
	
</div>