<!-- ***************** desktop page ************ -->
<div class="hidden-xs">
	<div class="banner-home hidden-xs">
		<div class="banner-body">
			<h1>Moving overseas? Share a container.</h1>
			<p>Split costs with expats who have unused space in their container.</p>
			<div class="button-search-containers">
					<%= link_to "Search containers", pages_search_container_path, class: "btn-search-containers " %>
			</div>	
			<!-- <div class="search-form form-inline">
				<%#= form_tag groupages_path, method: :get do %>
				  <%#= text_field_tag :origin,
				    params[:origin],
				    class: "form-input form-control",
				    placeholder: "I am moving from..."
				  %>
				  <%#= hidden_field_tag :latitude %>
				  <%= hidden_field_tag :longitude %>
				  <%#= submit_tag "Search", class: " btn-search search-icon form-control" %>	
			</div>
			<%# end %> -->
		</div>
	</div>
	<div class="hidden-xs">
		<section class="wrapper-why-mygroupage">
				<div class="container">
					<div class="row">
						<div class="col-sm-6">
							<div class="card-whyus">
								<h2>Why use coshippers?</h2>
							<p>Everyday, hundreds of expats ship their goods abroad. While costs are high, most containers sail with a great amount of unused space. Use one of those containers for your move and split shipping costs. Win-win !</p>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="card-whyus">
								<h2>Complete & professional service</h2>
								<p>Sharing a container on coshippers is simple, secure and fully compliant. Every listing is quality controlled & approved by coshippers. And all operations are handled by international movers you can trust.</p>
							</div>
							
						</div>
					</div>
				</div>
		</section>
		<section class="wrapper-moving-3-steps">
			<div class="container">
				<div class="row">
					<div class="border"></div>
					<h1>Affordable moving in 3 steps</h1>
					<div class="col-sm-4">
						<div class="card-3-steps">
							<div class="badge">
							  1
							</div>
							<h2>Find a container for your move</h2>
							<p>Sign up and tell us your move’s route, schedule and volume. We’ll show you containers that match your needs.</p>
							
						</div>
					</div>
					<div class="col-sm-4">
						<div class="card-3-steps">
							<div class="badge">
							  2
							</div>
							<h2>Book the space & services you need</h2>
							<p>Reserve the space you need & book professional services like export packing, moving insurance...</p>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="card-3-steps">
							<div class="badge">
							  3
							</div>
							<h2>Save money to do more of what you love</h2>
							<p>Extra money for travel, furnishing, settling in or simply recharging. <br>
							Share a container and save. </p>
						</div>
					</div>
				</div>
			</div>		
		</section>
		<section class="wrapper-cards-groupage">
			<div class="container">
				<div class="row">			
					<div class="col-sm-6 col-md-4">
						<div class="cards-container card-wrapper padded-top ">
						    <div class="card-image filter" style="background-image: url(<%= asset_path'singapore.png' %>);">
						    </div>

						    <!-- Card Bottom Row -->
						      <div class="card-details">
						        <span class="country">FRANCE > SINGAPORE</span>
						        <div class="card-row card-margin-adjustment">
							        <span class="city">Bordeaux to Singapore</span>
							        <span class="price">150 EUR</span>
						        </div>
						        <div class="card-row card-margin-adjustment">
							        <span class="available-space">10 m3 available</span>
							        <span class="metrics">/ cubic meter</span>
						        </div>
						        <span class="departure-date">Departs 10 april 19</span>
						      </div>
						    <!-- Card Link -->
						    <%#= link_to "#", class: "card-link" do %>
						    <%# end %>
						</div>
						
					</div>	
					<div class="col-sm-6 col-md-4">
						<div class="cards-container card-wrapper padded-top ">
						    <div class="card-image filter" style="background-image: url(<%= asset_path'san-francisco.png' %>);">
						    </div>

						    <!-- Card Bottom Row -->
						      <div class="card-details">
						        <span class="country">UAE > USA</span>
						        <div class="card-row card-margin-adjustment">
							        <span class="city">Dubai to San Francisco</span>
							        <span class="price">180 USD</span>
						        </div>
						        <div class="card-row card-margin-adjustment">
							        <span class="available-space">7 m3 available</span>
							        <span class="metrics">/ cubic meter</span>
						        </div>
						        <span class="departure-date">Departs 19 june 19</span>
						      </div>
						    <!-- Card Link -->
						    <%#= link_to "#", class: "card-link" do %>
						    <%# end %>
						</div>
					</div>
					<div class="col-sm-6 col-md-4">
						<div class="cards-container card-wrapper padded-top ">
						    <div class="card-image filter" style="background-image: url(<%= asset_path'france.png' %>);">
						    </div>

						    <!-- Card Bottom Row -->
						      <div class="card-details">
						        <span class="country">CHILE > FRANCE</span>
						        <div class="card-row card-margin-adjustment">
							        <span class="city">Santiago to Paris</span>
							        <span class="price">210 USD</span>
						        </div>
						        <div class="card-row card-margin-adjustment">
							        <span class="available-space">12 m3 available</span>
							        <span class="metrics">/ cubic meter</span>
						        </div>
						        <span class="departure-date">Departs 30 july 19</span>
						      </div>
						    <!-- Card Link -->
						    <%#= link_to "#", class: "card-link" do %>
						    <%# end %>
						</div>
					</div>
					<div class="col-sm-6 col-md-4">
						<div class="cards-container card-wrapper padded-top ">
						    <div class="card-image filter" style="background-image: url(<%= asset_path'usa.png' %>);">
						    </div>

						    <!-- Card Bottom Row -->
						      <div class="card-details">
						        <span class="country">GERMANY > USA</span>
						        <div class="card-row card-margin-adjustment">
							        <span class="city">Berlin to New York</span>
							        <span class="price">130 EUR</span>
						        </div>
						        <div class="card-row card-margin-adjustment">
							        <span class="available-space">9 m3 available</span>
							        <span class="metrics">/ cubic meter</span>
						        </div>
						        <span class="departure-date">Departs 15 jun 19</span>
						      </div>
						    <!-- Card Link -->
						    <%#= link_to "#", class: "card-link" do %>
						    <%# end %>
						</div>
					</div>
					<div class="col-sm-6 col-md-4">
						<div class="cards-container card-wrapper padded-top ">
						    <div class="card-image filter" style="background-image: url(<%= asset_path'south-africa.png' %>);">
						    </div>

						    <!-- Card Bottom Row -->
						      <div class="card-details">
						        <span class="country">UNITED KINGDOM > SOUTH AFRICA</span>
						        <div class="card-row card-margin-adjustment">
							        <span class="city">London to Cape Town</span>
							        <span class="price">4.2 GBP</span>
						        </div>
						        <div class="card-row card-margin-adjustment">
							        <span class="available-space">320 cuft available</span>
							        <span class="metrics">/ cubic feet</span>
						        </div>
						        <span class="departure-date">Departs 5 may 19</span>
						      </div>
						    <!-- Card Link -->
						    <%#= link_to "#", class: "card-link" do %>
						    <%# end %>
						</div>
					</div>
					<div class="col-sm-6 col-md-4">
						<div class="cards-container card-wrapper padded-top ">
						    <div class="card-image filter" style="background-image: url(<%= asset_path'australia.png' %>);">
						    </div>

						    <!-- Card Bottom Row -->
						      <div class="card-details">
						        <span class="country">INDONESIA > AUSTRALIA</span>
						        <div class="card-row card-margin-adjustment">
							        <span class="city">Jakarta to Brisbane</span>
							        <span class="price">175 USD </span>
						        </div>
						        <div class="card-row card-margin-adjustment">
							        <span class="available-space">14 m3 available</span>
							        <span class="metrics">/ cubic meter</span>
						        </div>
						        <span class="departure-date">Departs 28 jun 19</span>
						      </div>
						    <!-- Card Link -->
						    <%#= link_to "#", class: "card-link" do %>
						    <%# end %>
						</div>		
					</div>					
				</div>
				<div class="button-find-container">
					<%= link_to "Search containers", pages_search_container_path, class: "btn-find-container " %>
				</div>	
			</div>
		</section>
		<section class="wrapper-profissional-moving">
			<div class="container">
				<div class="row">
					<div class="border"></div>
					<h1>Powered by moving companies</h1>
					<div class="col-sm-6">
						<div class="sharing-description card-padding">
							<p>Expats list their container on coshippers. Everything else is handled by the international moving company they chose to handle their move.
							 <br> <br>
							Select a container, reserve your space, request quotes on any professional moving service you need and relax. Every container on coshippers was quality controlled and approved by our team of international moving pros.</p>
						</div>
						
					</div>
					<div class="col-sm-6">
						<div class="sharing-points card-padding">
							<ul>
								<li><%= image_tag "check.svg", height: 50, class: "checklist-icon" %><span class="text-bold">Safe</span> : all moves are packed by the same moving company</li>
								<li><%= image_tag "check.svg", height: 50, class: "checklist-icon" %><span class="text-bold">Compliant</span> : each move is cleared separately under its owner’s name</li>
								<li><%= image_tag "check.svg", height: 50, class: "checklist-icon" %><span class="text-bold">Insured</span> : moving insurance is available for all moves</li>
								<li><%= image_tag "check.svg", height: 50, class: "checklist-icon" %><span class="text-bold">On schedule</span> : container sails regardless of its final occupancy</li>
								<li><%= image_tag "check.svg", height: 50, class: "checklist-icon" %><span class="text-bold">Secure</span> : containers are handled by the same company throughout</li>
								<li><%= image_tag "check.svg", height: 50, class: "checklist-icon" %><span class="text-bold">Vetted</span> : only reputable moving companies’ containers are listed</li>
							</ul>
						</div>
						
					</div>
				</div>
			</div>
		</section>
		<section class="wrapper-list-container">
			<div class="container">
				<div class="list-container-box">
					<div class="row">
							<div class="col-sm-7">
								<div class="box-text">
									<h2>Got space in your container? <br>
									Let it earn for you!</h2>
									<p>Imagine what you’ll do with the extra money you earn from sharing your container on coshippers.</p>
									<%= link_to "Learn more", new_container_path , class: "btn-learn-more" %>
								</div>
								
							</div>
							<div class="col-sm-5">
								<div class="card-mover-image-mob">
								</div>
							</div>
					</div>
				</div>
			</div>
		</section>
		<section class="wrapper-about-us-home">
				<div class="container">
					<div class="row">
						<div class="border"></div>
						<h1>About coshippers</h1>
						<div class="col-sm-6">
							<div class="card-why-us">
								<h2>What is coshippers?</h2>
								<p>coshippers is a community based international moving platform. We use spare container capacity and the power of online communities to make international moving finally affordable.</p>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="card-why-us">
								<h2>What is a groupage?</h2>
								<p>You can save money by sharing a container’s space with expats relocating on a similar itinerary. A shared-container is usually referred to as “groupage” by moving companies. Find a container and save money on your international move.</p>
							</div>
							
						</div>
					</div>
				</div>
		</section>
		<section class="FAQ-home">
			<div class="container">
				<div class="row">
					<div class="border"></div>
					<h1>Your questions answered</h1>
					<div class="col-sm-6">
							<div class="card-faq">
								 <button type="button" class=" btn-faq" data-toggle="modal" data-target="#who-can-list-a-groupage">
							  	What can I ship?
								</button>
								<hr>
								 <button type="button" class=" btn-faq" data-toggle="modal" data-target="#what-is-required-of-expats">
							  	How do I calculate my move size/volume?
								</button>
								<hr>
								<button type="button" class=" btn-faq" data-toggle="modal" data-target="#how-much-it-cost">
							  	What documents do I need to provide?
								</button>
								<hr>
							</div>
						</div>
						<div class="col-sm-6">
							<div class="card-faq">
								<button type="button" class=" btn-faq" data-toggle="modal" data-target="#will-my-goods-be-mixed">
							  	Is sharing a container legal?
								</button>
								<hr>
								<button type="button" class=" btn-faq" data-toggle="modal" data-target="#what-protection">
							  	What protection do I have against loss & damages?
								</button>
								<hr>
								<button type="button" class=" btn-faq" data-toggle="modal" data-target="#help-set-prices">
							  	What happens if someone ships something illegal?
								</button>
								<hr>
							</div>
							
						</div>
				</div>
				<%= render 'pages/faq/modal-faq1' %>
				<%= render 'pages/faq/modal-faq2' %>
				<%= render 'pages/faq/modal-faq3' %>
				<%= render 'pages/faq/modal-faq4' %>
				<%= render 'pages/faq/modal-faq5' %>
				<%= render 'pages/faq/modal-faq6' %>
			</div>
		</section>
		<section class="wrapper-ready-to-earn-home">
			<div class="container">
				<div class="image-box" style="background-image: linear-gradient(90deg, #0E0D13 0%, rgba(13, 12, 18, 0.9) 0.01%, rgba(3, 2, 8, 0) 63.54%), url(<%= asset_path 'men.jpeg' %>);">
						<div class="ready-to-earn-content">
							<h1>Ready to save?</h1>
							<%= link_to "Find a container", pages_search_container_path, class: "btn-find-container" %>
						</div>
				</div>
			</div>
		</section>	
			
	</div>
</div>	
	
<!-- ***************** mobile page ************ -->
<div class="hidden-sm hidden-md hidden-lg">
	<div class="blank-wrapper">
        
    </div>
	<div class="banner-home-mob">
		<div class="banner-content">
			<h1>Moving overseas?<br> Share a container.</h1>
			<p>Split costs with expats who have unused space in their container.</p>
			<div class="button-search-containers">
					<%= link_to "Search containers", pages_search_container_path, class: "btn-search-containers " %>
			</div>	

		</div>
		
	</div>
	<section class="wrapper-why-mygroupage-mob">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<div class="card-whyus">
								<h2>Why use coshippers?</h2>
							<p>Everyday, hundreds of expats ship their goods abroad. While costs are high, most containers sail with a great amount of unused space. Use one of those containers for your move and split shipping costs. Win-win !</p>
							</div>
						</div>
						<div class="col-xs-12">
							<div class="card-whyus">
								<h2>Complete & professional service</h2>
								<p>Sharing a container on coshippers is simple, secure and fully compliant. Every listing is quality controlled & approved by coshippers. And all operations are handled by international movers you can trust.</p>
							</div>
							
						</div>
					</div>
				</div>
	</section>
	<section class="wrapper-moving-3-steps-mob">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="border"></div>
					<h1>Affordable moving in 3 steps</h1>
					</div>
					<div class="col-xs-12">
						<div class="card-3-steps">
							<div class="badge">
							  1
							</div>
							<h2>Find a container for your move</h2>
							<p>Sign up and tell us your move’s route, schedule and volume. We’ll show you containers that match your needs.</p>
							
						</div>
					</div>
					<div class="col-xs-12">
						<div class="card-3-steps">
							<div class="badge">
							  2
							</div>
							<h2>Book the space & services you need</h2>
							<p>Reserve the space you need & book professional services like export packing, moving insurance...</p>
						</div>
					</div>
					<div class="col-xs-12">
						<div class="card-3-steps">
							<div class="badge">
							  3
							</div>
							<h2>Save money to do more of what you love</h2>
							<p>Extra money for travel, furnishing, settling in or simply recharging. <br>
							Share a container and save. </p>
						</div>
					</div>
				</div>
			</div>		
	</section>
	<section class="wrapper-cards-groupage-mob">
			<div class="container">
				<div class="row">			
					<div class="col-xs-12">
						<div class="cards-container card-wrapper padded-top ">
						    <div class="card-image filter" style="background-image: url(<%= asset_path'singapore.png' %>);">
						    </div>

						    <!-- Card Bottom Row -->
						      <div class="card-details">
						        <span class="country">FRANCE > SINGAPORE</span>
						        <div class="card-row card-margin-adjustment">
							        <span class="city">Bordeaux to Singapore</span>
							        <span class="price">150 EUR</span>
						        </div>
						        <div class="card-row card-margin-adjustment">
							        <span class="available-space">10 m3 available</span>
							        <span class="metrics">/ cubic meter</span>
						        </div>
						        <span class="departure-date">Departs 10 april 19</span>
						      </div>
						    <!-- Card Link -->
						    <%#= link_to "#", class: "card-link" do %>
						    <%# end %>
						</div>
						
					</div>	
					<div class="col-xs-12">
						<div class="cards-container card-wrapper padded-top ">
						    <div class="card-image filter" style="background-image: url(<%= asset_path'san-francisco.png' %>);">
						    </div>

						    <!-- Card Bottom Row -->
						      <div class="card-details">
						        <span class="country">UAE > USA</span>
						        <div class="card-row card-margin-adjustment">
							        <span class="city">Dubai to San Francisco</span>
							        <span class="price">180 USD</span>
						        </div>
						        <div class="card-row card-margin-adjustment">
							        <span class="available-space">7 m3 available</span>
							        <span class="metrics">/ cubic meter</span>
						        </div>
						        <span class="departure-date">Departs 19 june 19</span>
						      </div>
						    <!-- Card Link -->
						    <%#= link_to "#", class: "card-link" do %>
						    <%# end %>
						</div>
					</div>
					<div class="col-xs-12">
						<div class="cards-container card-wrapper padded-top ">
						    <div class="card-image filter" style="background-image: url(<%= asset_path'france.png' %>);">
						    </div>

						    <!-- Card Bottom Row -->
						      <div class="card-details">
						        <span class="country">CHILE > FRANCE</span>
						        <div class="card-row card-margin-adjustment">
							        <span class="city">Santiago to Paris</span>
							        <span class="price">210 USD</span>
						        </div>
						        <div class="card-row card-margin-adjustment">
							        <span class="available-space">12 m3 available</span>
							        <span class="metrics">/ cubic meter</span>
						        </div>
						        <span class="departure-date">Departs 30 july 19</span>
						      </div>
						    <!-- Card Link -->
						    <%#= link_to "#", class: "card-link" do %>
						    <%# end %>
						</div>
					</div>				
				</div>
				<div class="button-find-container">
					<%= link_to "Search containers", pages_search_container_path, class: "btn-find-container " %>
				</div>	
			</div>
	</section>
	<section class="wrapper-profissional-moving-mob">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="border"></div>
						<h1>Powered by moving companies</h1>
					</div>
					<div class="col-xs-12">
						<div class="sharing-description card-padding">
							<p>Expats list their container on coshippers. Everything else is handled by the international moving company they chose to handle their move.
							 <br> <br>
							Select a container, reserve your space, request quotes on any professional moving service you need and relax. Every container on coshippers was quality controlled and approved by our team of international moving pros.</p>
						</div>
						
					</div>
					<div class="col-xs-12">
						<div class="sharing-points card-padding">
							<ul>
								<li><%= image_tag "check.svg", height: 50, class: "checklist-icon" %><span class="text-bold">Safe</span> : all moves are packed by the same moving company</li>
								<li><%= image_tag "check.svg", height: 50, class: "checklist-icon" %><span class="text-bold">Compliant</span> : each move is cleared separately under its owner’s name</li>
								<li><%= image_tag "check.svg", height: 50, class: "checklist-icon" %><span class="text-bold">Insured</span> : moving insurance is available for all moves</li>
								<li><%= image_tag "check.svg", height: 50, class: "checklist-icon" %><span class="text-bold">On schedule</span> : container sails regardless of its final occupancy</li>
								<li><%= image_tag "check.svg", height: 50, class: "checklist-icon" %><span class="text-bold">Secure</span> : containers are handled by the same company throughout</li>
								<li><%= image_tag "check.svg", height: 50, class: "checklist-icon" %><span class="text-bold">Vetted</span> : only reputable moving companies’ containers are listed</li>
							</ul>
						</div>
						
					</div>
				</div>
			</div>
	</section>
	<section class="wrapper-list-space hidden-sm hidden-md hidden-lg">
		<div class="image-box">
			<div class="container-img">
			
			</div>
		</div>
		
		<div class="grey-wrapper">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="box-content">
							<h2>
								Got space in your container? <br>
								Let it earn for you!
							</h2>
							<p>Imagine what you’ll do with the extra money you earn from sharing your container on coshippers.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
							<div class="get-list-button">
								<%= link_to "Calculate earnings", new_container_path , class: "btn-learn-more" %>
							</div>
						</div>
				</div>
			</div>
			
		</div>

	</section>
	<section class="wrapper-about-us-home-mob">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<div class="border"></div>
							<h1>About coshippers</h1>
						</div>
						<div class="col-xs-12">
							<div class="card-why-us">
								<h2>What is coshippers?</h2>
								<p>coshippers is a community based international moving platform. We use spare container capacity and the power of online communities to make international moving finally affordable.</p>
							</div>
						</div>
						<div class="col-xs-12">
							<div class="card-why-us">
								<h2>What is a groupage?</h2>
								<p>You can save money by sharing a container’s space with expats relocating on a similar itinerary. A shared-container is usually referred to as “groupage” by moving companies. Find a container and save money on your international move.</p>
							</div>
							
						</div>
					</div>
				</div>
	</section>
	<section class="FAQ-home-mob">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="border"></div>
						<h1>Your questions answered</h1>
					</div>
					<div class="col-xs-12">
							<div class="card-faq">
								<hr>
								 <button type="button" class=" btn-faq" data-toggle="modal" data-target="#what-can-i-ship">
							  	What can I ship?
								</button>
								<hr>
								 <button type="button" class=" btn-faq" data-toggle="modal" data-target="#how-to-calculate">
							  	How do I calculate my move size/volume?
								</button>
								<hr>
								<button type="button" class=" btn-faq" data-toggle="modal" data-target="#necessaire-documents">
							  	What documents do I need to provide?
								</button>
								<hr>
							</div>
						</div>
						<div class="col-xs-12">
							<div class="card-faq">
								<button type="button" class=" btn-faq" data-toggle="modal" data-target="#legality">
							  	Is sharing a container legal?
								</button>
								<hr>
								<button type="button" class=" btn-faq" data-toggle="modal" data-target="#protection">
							  	What protection do I have against loss & damages?
								</button>
								<hr>
								<button type="button" class=" btn-faq" data-toggle="modal" data-target="#ilegal-goods">
							  	What happens if someone ships something illegal?
								</button>
								<hr>
							</div>
							
						</div>
				</div>
				<%= render 'pages/faq/mobile/modal-faq1-mob' %>
				<%= render 'pages/faq/mobile/modal-faq2-mob' %>
				<%= render 'pages/faq/mobile/modal-faq3-mob' %>
				<%= render 'pages/faq/mobile/modal-faq4-mob' %>
				<%= render 'pages/faq/mobile/modal-faq5-mob' %>
				<%= render 'pages/faq/mobile/modal-faq6-mob' %>
			</div>
	</section>
	<section class="wrapper-ready-to-earn-home-mob">
			
		<div class="image-box" style="background-image: linear-gradient(90deg, #0E0D13 0%, rgba(13, 12, 18, 0.9) 0.01%, rgba(3, 2, 8, 0) 63.54%), url(<%= asset_path 'men.jpeg' %>);">
			<div class="container">
				<div class="row">
					<div class="col-xs-12">
						<div class="ready-to-earn-content">
							<h1>Ready to save?</h1>
							<%= link_to "Find a container", pages_search_container_path, class: "btn-list-container2" %>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>	
</div>