<div class="registration-wrapper">
  <div class="row">
    <div class="col-sm-6">
      <div class="form-box">
        <%= link_to root_path, class: "navbar-wagon-brand" do %>
          <%= image_tag "logo-deskt.png", height: 30 %>
        <% end %>
        <div class="row">
          <div class=" col-sm-12 col-md-8 col-md-offset-2">
            <div class="login-form-title">
              <h2>Create an account to get
                started</h2>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <%= link_to "Sign up with Facebook", "#", class: "btn-facebook" %>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12">
                <span class="text-section">
                  or
                </span>
              </div>
            </div>
            
            <div class="row">
              <div class="col-sm-12">
                <%= link_to t(".sign_up", default: "Sign up with email"), new_user_registration_path, class: "btn-email-signup" %>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <div class="main-page-login-link">
                  <p>Alreaady have a myGroupage account?<%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "login-link" %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
        
    <div class="col-sm-6"> 
      <div class="main-login-page-image" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url(<%= asset_path 'lady.jpeg' %>);">
      </div>
    </div>
  </div>
</div>








